<div hidden class="modal-container" id="modal-container-employees">
    <div class="confirmation-modal" id="confirmation-modal-employees">
        <form class="conf-container" id="confirmation-container">
            <h3>Are you sure you would like to delete this entry?</h3>
            <div>
                <input type="submit" class="button" value="Confirm">
                <input type="reset" class="button" value="Cancel" onclick="deleteModalCancel()"> 
            </div>
        </form>
    </div>
</div>


<div class="content">
    <h1 class="page-title"><strong>Employees</strong></h1>

    <div class="operation-grouping">
        <div id="add_grouping" class="add-grouping">
            <legend><strong>Add Employee</strong></legend>
            <fieldset>
                <form id="add-employee-form">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="input-name" required/>
                    <label for="rate">Rate: </label>
                    <input type="number" min="0" step="0.01" name="rate" id="input-rate"/>
                    <label for="hours">Hours: </label>
                    <input type="number" min="0" name="hours" id="input-hours"/>
                    <label for="sales">Sales: </label>
                    <input type="number" min="0" name="sales" id="input-sales"/>
                    <div class="add-operations">
                        <input type="submit" class="button" value="Add">
                        <input type="reset" class="button" value="Cancel"> 
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="update-grouping" class="update-grouping">
            <legend><strong>Update Employee</strong></legend>
            <fieldset>
                <form id="update-employee-form">
                    <label for="id">ID: </label>
                    <input type="number" min="0" name="id" id="input-id-update" oninput="updateUpGroupForm()" required/>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="input-name-update" required/>
                    <label for="rate">Rate: </label>
                    <input type="number" min="0" step='0.01' name="rate" id="input-rate-update"/>
                    <label for="hours">Hours: </label>
                    <input type="number" min="0" name="hours" id="input-hours-update"/>
                    <label for="sales">Sales: </label>
                    <input type="number" min="0" name="sales" id="input-sales-update"/>
                    <div class="update-operations">
                        <input type="submit" class="button" value="Update">
                        <input type="reset" class="button" value="Cancel"> 
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="delete_grouping" class="delete-grouping">
            <legend><strong>Delete Employee</strong></legend>
            <fieldset>
                <form id="delete-employee-form" class="delete-fieldset">
                    <label for="id">ID: </label>
                    <input type="number" min="0" name="id" class="input-id-delete" id="input-id-delete" oninput="updateForm()" required/>
                    <label class="delete-group-labels">Name:</label>
                    <p id="delete-name"></p>
                    <label class="delete-group-labels">Rate:</label>
                    <p id="delete-rate"></p>
                    <label class="delete-group-labels">Hours:</label>
                    <p id="delete-hours"></p>
                    <label class="delete-group-labels">Sales:</label>
                    <p id="delete-sales"></p>

                    <div class="delete-operations">
                        <input type="submit" class="button" value="Delete">
                        <input type="reset" class="button" value="Cancel"> 
                    </div>
                </form>
            </fieldset>
        </div>
    </div>

    <div class="table-grouping">
        <div class="table-em">
            <table id="employees-table">
                <tr class="table-header">
                    <th class="table-header table-header-left">ID</th>
                    <th class="table-header">Name</th>
                    <th class="table-header">Rate</th>
                    <th class="table-header">Hours</th>
                    <th class="table-header-end table-header-right">Sales</th>
                </tr>
                {{#each data}}
                <tr data-value={{this.id_employee}}>
                    {{!-- Input --}}
                    <td>{{this.id_employee}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.hourly_rate}}</td>
                    <td>{{this.hours_worked}}</td>
                    <td>{{this.total_sales}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>

</div>


{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
<script src="./js/add_employee.js"></script>
<script src="./js/delete_employee.js"></script>
<script src="./js/update_employee.js"></script>
