<div class="content">
    <h1 class='page-title'>Sales</h1>


    {{!-- Search bar --}}
    <div class="search-sl-ps search-grouping">
        <form id='search-sale' method='GET' action='/sales'>
            <div class='search-center'>
                <label for='sale'>Search by Sale: </label>
                <input class='search-components search-bar' type='number' name='sale' id='sale'>
                
                <input type='submit' class='search-components button' value='Submit'>
            </div>
            <div class='search-sides'>
                <h3 class='search-components'>Results for id_sale: TODO</h3>
                <a href='/sales'><button class='search-components'>Reset</button></a>
            </div>
        </form>
    </div>
    {{!-- <div class="search-sl-ps search-grouping">
        <div class="search-center">
            <input class="search-components search-bar" type="text" name="search" placeholder="2 (id_sale)">
            <button class="search-components search-reset">Search</button>

        </div>
        <div class="search-sides">
            <h3 class="search-components">Results for id_sale: 2</h3>
            <button class="search-components search-reset">Reset</button>
        </div>
    </div> --}}

    
    {{!-- CRUD operation forms --}}
    <div class="operation-grouping">

        {{!-- Form to Add Sales --}}
        <div id = "add_grouping" class="add-grouping">
            <legend><strong>Add Sale</strong></legend>
                <fieldset>
                    <label>Date:</label> 
                    <input type="text" name="date">
                    <label>Customer Name:</label>
                    <select name="name_customer">
                        <option value="N/A">&nbsp;</option>
                        <option value="1">Jake Williams</option>
                        <option value="2">Sarah Koohr</option>
                        <option value="3">Miles Warner</option>   
                    </select>
                    <label>Employee Name:</label>
                    <select name="name_employee">
                        <option value="N/A">&nbsp;</option>
                        <option value="1">Joel Villamor</option>
                        <option value="2">Samantha Lin</option>
                        <option value="3">Kelly Walker</option>   
                    </select>
                    <div class="add-sale-grid">
                        <label>Add Products:</label>
                        <button class="add-components-button">+</button>
                    </div>
                    
                    <div class="add-operations">
                        <button>Add</button>
                        <button>Cancel</button>
                    </div>
                </fieldset>
        </div>
    
        {{!-- Form to Update Sales --}}
        <div id = "update_grouping" class="update-grouping">
            <legend><strong>Update Sale</strong></legend>
                <fieldset>
                    <label>ID:</label>
                    <input type="text" name="id" placeholder="2">
                    <label>Date:</label> 
                    <input type="text" name="date" placeholder="2023-01-13">
                    <label>Customer Name:</label>
                    <select name="name_customer">
                        <option value="N/A">&nbsp;</option>
                        <option value="1">Jake Williams</option>
                        <option value="2">Sarah Koohr</option>
                        <option value="3" selected>Miles Warner</option>   
                    </select>
                    <label>Employee Name:</label>
                    <select name="name_employee">
                        <option value="N/A">&nbsp;</option>
                        <option value="1" selected>Joel Villamor</option>
                        <option value="2">Samantha Lin</option>
                        <option value="3">Kelly Walker</option>   
                    </select>
                    <div class="add-sale-grid">
                        <label class="add-components">Add Products:</label>
                        <label class="add-components">Price:</label>
                        <label class="add-components">Quantity:</label>
                        <p class="add-components">Animal Crossing</p>
                        <p class="add-components">19.99</p>
                        <input class="add-components" type="text" placeholder="1">
                        <p class="add-components">5,000 Bells</p>
                        <p class="add-components">4.99</p>
                        <input class="add-components" type="text" placeholder="1">
                        <button class="add-components-button">+</button>
                    </div>

                    <div class="update-operations">
                        <button>Update</button>
                        <button>Cancel</button>
                    </div>
                </fieldset>
        </div>

    </div>


    {{!-- Display Tables --}}
    <div class="table-grouping">

        {{!-- Display Sales Table --}}
        <div class="table-sl">
            <table id='sales-table'>
                {{!-- Header --}}
                <tr class="table-header">
                    <th class="table-header table-header-left">ID</th>
                    <th class="table-header">Date</th>
                    <th class="table-header">Total Price</th>
                    <th class="table-header">Customer Name</th>
                    <th class="table-header-end table-header-right">Employee Name</th>
                </tr>
                {{!-- Body --}}
                {{#each salesData}}
                <tr data-value={{this.id_sale}}>
                    <td>{{this.id_sale}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.total_price}}</td>
                    <td>{{this.customer}}</td>
                    <td>{{this.employee}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        {{!-- Display Product Sales Table --}}
        <div class="item2">
            <div class="table-ps">
                <table id='product-sales-table'>
                    {{!-- Header --}}
                    <tr class="table-header">
                        <th class="table-header table-header-left">ID</th>
                        <th class="table-header">Sale ID</th>
                        <th class="table-header">Product</th>
                        <th class="table-header-end table-header-right">Quantity</th>
                    </tr>
                    {{!-- Body --}}
                    {{#each productsalesData}}
                    <tr data-value={{this.id_product_sale}}>
                        <td>{{this.id_product_sale}}</td>
                        <td>{{this.id_sale}}</td>
                        <td>{{this.product}}</td>
                        <td>{{this.quantity}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

    </div>

</div>


{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
