<div class="content">
    <h1 class='page-title'>Sales</h1>


    {{!-- Search bar --}}
    <div class="search-sl-ps ">
        <form id='search-sale' class="search-sale" method='GET' action='/sales'>
            <div class='search-center'>
                <label class="search-label" for='sale'>Search by Sale: </label>
                <input class='search-components search-bar' style="margin: 0; padding-left: 5px" type='number' name='sale' id='sale'>
                
                <input type='submit' class='search-buttons' value='Submit'>
                <a style="display: grid; width: 100%" href='/sales'><button class='search-buttons search-button-last'>Reset</button></a>
            </div>
            <div class='search-sides'>
                <h3>{{resultPhrase}}</h3>
            </div>
        </form>
    </div>

    
    {{!-- CRUD operation forms --}}
    <div class="operation-grouping">

        {{!-- Form to Add Sales --}}
        <div id = "add_grouping" class="add-grouping">
            <legend><strong>Add Sale</strong></legend>
                <fieldset>
                    <form id='add-sale-form'>
                        {{!-- Date --}}
                        <label for='input-date'>Date:</label>
                        <input type='date' name='input-date' id='input-date' required>
                        {{!-- Customer Name --}}
                        <label for='input-customer'>Customer Name:</label>
                        <select name='input-customer' id='input-customer' required>
                            <option value=''>Select a Customer</option>
                            {{#each customers}}
                            <option value='{{this.id_customer}}'>{{this.name}}</option>
                            {{/each}}
                        </select>
                        {{!-- Employee Name --}}
                        <label for='input-employee'>Employee Name:</label>
                        <select name='input-employee' id='input-employee'>
                            <option value=''>Select an Employee</option>
                            {{#each employees}}
                            <option value='{{this.id_employee}}'>{{this.name}}</option>
                            {{/each}}
                        </select>
                        {{!-- Products --}}
                        <div class="add-sale-grid" id="add-sale-grid">
                            {{!-- product-card --}}
                                <table class="add-product-table" id="add-product-table">
                                    <thead>
                                        <tr>
                                            <th>Add Products:</th>
                                            <th>Price:</th>
                                            <th>Quantity:</th>
                                        </tr>
                                    </thead>
                                    <tbody id="add-product-table-body">
                                        <tr id="sample-row">
                                            <td>
                                                <select name='product-name' id='product-name' onchange='updateUpProductCard(this, {{json products}}), updateSelOptions(this)' required>
                                                    <option value=''>Select a Product</option>
                                                    {{#each products}}
                                                    <option value='{{this.id_product}}'>{{this.name}}</option>
                                                    {{/each}}
                                                </select>
                                            </td>
                                            <td id="product-price"></td>
                                            <td><input id="product-quantity" min="0" class="add-components" type="number" required></td>
                                        </tr>

                                    </tbody>
                                </table>
                            <button type="button"  class="add-components-button" id="add-product-form-btn" onclick="addProductButton('add-product-table-body')">+</button>
                        </div>

                        <div class='add-operations'>
                            <input type='submit' class='button' value='Add'>
                            <input type='reset' class='button' value='Cancel'>
                        </div>
                    </form>
                </fieldset>
        </div>
    
        {{!-- Form to Update Sales --}}
        <div id = "update_grouping" class="update-grouping">
            <legend><strong>Update Sale</strong></legend>
                <fieldset>
                    <form id='update-sale-form'>
                        {{!-- ID --}}
                        <label for='input-id-update'>ID:</label>
                        <input type='number' name='input-id-update' id='input-id-update' oninput="populateSalesForm({{json products}})" required>
                        {{!-- Date --}}
                        <label for='input-date-update'>Date:</label>
                        <input type='date' name='input-date-update' id='input-date-update' required>
                        {{!-- Customer Name --}}
                        <label for='input-customer-update'>Customer Name:</label>
                        <select name='input-customer-update' id='input-customer-update' required>
                            <option value=''>Select a Customer</option>
                            {{#each customers}}
                            <option value='{{this.id_customer}}'>{{this.name}}</option>
                            {{/each}}
                        </select>
                        {{!-- Employee Name --}}
                        <label for='input-employee-update'>Employee Name:</label>
                        <select name='input-employee-update' id='input-employee-update'>
                            <option value=''>Select an Employee</option>
                            {{#each employees}}
                            <option value='{{this.id_employee}}'>{{this.name}}</option>
                            {{/each}}
                        </select>
                        {{!-- Products --}}
                        <div class="add-sale-grid">
                            <table class="update-product-table">
                                <thead>
                                    <tr>
                                        <th class="add-components">Add Products:</th>
                                        <th class="add-components">Price:</th>
                                        <th class="add-components">Quantity:</th>
                                    </tr>
                                </thead>
                                <tbody id="update-product-table-body">
                                </tbody>
                            </table>
                            <button type="button" class="add-components-button" id="update-product-form-btn" onclick="addProductButton('update-product-table-body')">+</button>
                        </div>

                        <div class='update-operations'>
                            <input type='submit' class='button' value='Update'>
                            <input type='reset' class='button' value='Cancel'>
                        </div>
                    </form>
                </fieldset>
        </div>

    </div>


    {{!-- Display Tables --}}
    <div class="table-grouping">

        {{!-- Display Sales Table --}}
        <div class="table-sl">
            <table id='sales-table'>
                {{!-- Header --}}
                <tr class="table-header">
                    <th class="table-header table-header-left">ID</th>
                    <th class="table-header">Date</th>
                    <th class="table-header">Total Price</th>
                    <th class="table-header">Customer Name</th>
                    <th class="table-header-end table-header-right">Employee Name</th>
                </tr>
                {{!-- Body --}}
                {{#each salesData}}
                <tr data-value={{this.id_sale}}>
                    <td>{{this.id_sale}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.total_price}}</td>
                    <td>{{this.customer}}</td>
                    <td>{{this.employee}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

        {{!-- Display Product Sales Table --}}
        <div class="item2">
            <div class="table-ps">
                <table id='product-sales-table'>
                    {{!-- Header --}}
                    <tr class="table-header">
                        <th class="table-header table-header-left">ID</th>
                        <th class="table-header">Sale ID</th>
                        <th class="table-header">Product</th>
                        <th class="table-header-end table-header-right">Quantity</th>
                    </tr>
                    {{!-- Body --}}
                    {{#each productsalesData}}
                    <tr data-value={{this.id_product_sale}}>
                        <td>{{this.id_product_sale}}</td>
                        <td>{{this.id_sale}}</td>
                        <td>{{this.product}}</td>
                        <td>{{this.quantity}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

    </div>

</div>


{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
<script src='./js/add_sale.js'></script>
<script src='./js/update_sale.js'></script>
